---
import { UI } from 'astrowind:config';
if (!UI.announcement?.isEnabled) return;
---

<div
  class="text-sm bg-slate-900 text-slate-300 dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:flex gap-1 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
</div>
