---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';

const metadata = {
  title: 'A word from the creator',
};
---

<Layout metadata={metadata} accentColor="blue">
  <HeroText
    tagline="By MojoKickball Creator Eric Heiberg"
    title="A word from the creator"
    subtitle="How did you come up with this!?"
  />

  <section class="py-8 px-4 pb-16">
    <div class="max-w-3xl mx-auto prose prose-lg dark:prose-invert">
      <p>
        That's the number one thing I hear. So now I'm gonna write it down and then I can just refer people to the
        website to look at it. But let's be honest: I'm probably going to run through the whole Mojo Kickball spiel
        with them as well. I can't help it. I love this game.
      </p>

      <p>
        Like many Americans, my work isn't particularly conducive to exercise and, like many Americans, I hate
        exercise. I hate the idea of having to do something. I hate the notion of knowing exactly how far I have to go.
        I wanted to get more exercise, but was largely reluctant to pursue the normal routes (jogging, going to the gym,
        etc). There was always the possibility of getting involved in sports, but that posed problems of its own.
      </p>

      <p>
        To start, I'm terrible at sports. I don't have a lick of athletic ability. When I run, it looks like someone
        trying to break-dance with their hair on fire. Co-rec sports and entry-level leagues seemed appealing, but they
        usually had problems that I could not seem to avoid:
      </p>

      <ol>
        <li>
          There's almost always some team that is several levels above everyone else who dominates the lower league
          when they should really be playing in a more advanced league.
        </li>
        <li>
          Unless you put the team together yourself, you're probably going to be on a team with a very aggressive
          player who does not take failure as an option, and is undoubtedly lamenting why he wasn't placed on the team
          above.
        </li>
        <li>
          I suck at athletic stuff. Did I mention that? Most of the time, in traditional sports my best strategy is to
          simply pass the ball to anyone else.
        </li>
      </ol>

      <p>
        I remembered the days of recess, when I just went out to play. It didn't really feel like exercise, because I
        was having too much fun. I started thinking about what a fun game would be like — one where we could all play
        as humans, together. Kickball came to mind.
      </p>

      <p>
        At the time I was considering this, Kickball had not yet made a resurgence in popularity. Also, I didn't want
        to play kickball ironically. I wanted fun. I wanted exercise. I didn't want to participate in a sport that was
        really just an excuse to drink from a flask on the sidelines. I started working out the details of a multi-ball
        kickball game — one where you would have to run around a lot.
      </p>

      <p>
        Not surprisingly, even adding one more ball into a regular kickball game is a rabbit-hole. By the time I
        fleshed out all the initial rules, the further the game began to look like traditional kickball. It became
        something else entirely.
      </p>

      <p>
        There was a lot of writing and re-writing — some thinking, some deleting, and then more re-writing. I kept
        thinking of every aspect of the game that I could. Above all else, I really tried to keep my main focus and
        priorities intact:
      </p>

      <ol>
        <li>Extremely inclusive of everyone</li>
        <li>Active</li>
        <li>Fun</li>
      </ol>

      <p>In the end, all of these got boiled down into one, singular idea:</p>

      <p><strong>Inclusion with Contribution</strong></p>

      <p>
        Somewhat accidentally, I had made a game where any player could have several strategies at their disposal, at
        any moment in the game. The game changes from second to second. There is no time to plan, lament or do anything
        but just run around and laugh at how terrible you are at it. Finally, for myself, I could exceed my normal
        contribution of simply "passing the ball to someone else."
      </p>

      <p>
        That meant a lot to me, but the thing that really burst my heart with rainbows and unicorns and fluffy bunnies
        was getting to see how this meant so much to so many other people as well. People come to me and tell me that
        they hate team sports. They hate them, but they love Mojo. Mojo is about the fun in losing. It's about the fun
        in sacrifice. It's about letting "Fun of Mastery" take a backseat to "Fun of Agency."
      </p>

      <p>
        "Being inclusive" wasn't as hard as I thought, either. There were so many roles and ways to play the game that
        there was no need to add "handicaps" to the game to accommodate for weaker players. Not everyone is equal in
        ability of course, but the playing field is naturally leveled out a lot more than in other sports. In
        retrospect, it seems most sports were developed by the jocks, for the jocks. So naturally, there are a lot of
        aspects to most sports that simply favor one or two types of straight-up athletic ability — like lifting a
        heavy rock, or running to the fence faster, or punching something super hard. What I found out is that it's a
        lot easier than one would think to make a sport that draws favor from a wider base of skills. Heck, I did it on
        accident.
      </p>

      <p>
        And because there is such a wide base of skills that are beneficial to MojoKickball, you never really know
        who's gonna be the bad-ass on your team. And no single person has nearly enough influence to swing a game. But
        as a collective, people can completely dominate another team, no matter how strong or fast the other team is.
        Well, ok. Maybe I exaggerate. I suppose if you were playing against the Superfriends, yes, you would probably
        lose. There, I said it.
      </p>

      <p>
        So there it is: MojoKickball. It's been a journey and an amazing life lesson I would never have had the
        opportunity to be a part of, if it hadn't been for the amazing, not-so-secret cache of humans who were always
        ready and able to play it if we just bothered to look.
      </p>

      <p>I envy them. I envy us.</p>

      <p>
        I'm not looking to make money off of it. I just want you to play it and have fun… and maybe for it to
        revolutionize the planet if that's not too much to ask. We'll see.
      </p>

      <p>Love always, and thank you for playing. Mojo on!</p>

      <p>— Eric</p>
    </div>
  </section>
</Layout>
