---
import SixBalls from '~/components/ui/SixBalls.astro';
---

<div class="ml-2 flex flex-col leading-tight items-end">
  <span class="text-xl font-bold text-gray-900 whitespace-nowrap">MojoKickball</span>
  <SixBalls size="sm" />
</div>
